
// https://unicode-table.com/es/search/?q=cuadrado
.layout{
    background-color: var(--navy);
    min-height: 100vh;
    
   
}
main{
    overflow-x: hidden;
    padding: 150px 25px;
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    section{
        min-height:100vh;
        padding-bottom: 5vh;
    }
   
}

.heading{
    
}