html{
    font-size: 16px;
}
// https://unicode-table.com/es/search/?q=cuadrado
.layout{
    background-color: var(--navy-grape);
    min-height: 100vh;
    
   
}
main{
    overflow-x: hidden;
    padding: 150px 25px;
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
   
    section{
        &:not(#contact,#projects){
            
            min-height:100vh;
            padding-bottom: 8vh;
        }
        margin: 0 auto;
        &:not(.tab-section){
            max-width: 950px;
        }
        
        @include devices(phone){
            padding-bottom: 2vh;
           
            
        }
       
    }
    .tab-section{
        max-width: 700px;
    }
    @include devices(tablet){
        padding: 0px 25px;
        
    }
    @include devices(desktop){
        padding: 0px 150px;
    }
}

