

.layout{
    background-color: var(--navy);
    min-height: 100vh;
    
   
}
main{
 
    padding: 150px 25px;
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
   
}