
body, *{
    font-family:"Anonymous Pro",sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


// *{
//     outline: 2px solid rgba(50, 205, 50, 0.422) !important;
//     &:nth-child(2n){
//         outline: 2px solid rgba(247, 0, 0, 0.585) !important;
//     }
// }
:root{
    --navy:#0A192F;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --slate-light:#CCD6F6;
    --slate-gray:#8892b0;
    --purple:#444EFF;
    --nav-height:70px;
    --text-shadow:
        0 0 7px var(--purple),
        0 0 10px var(--purple),
        0 0 21px var(--purple);
    --filter: drop-shadow(0 0 15px var(--purple)) drop-shadow(0 0 50px var(--purple)) contrast(2) brightness(2);
    --filter-smooth: drop-shadow(0 0 15px var(--purple)) drop-shadow(0 0 25px var(--purple)) contrast(2) brightness(2);
    --filter-low:drop-shadow(0 0 4px var(--purple)) drop-shadow(0 0 15px var(--purple)) contrast(2) brightness(2);
    --filter-lowest:drop-shadow(0 0 0px var(--purple)) drop-shadow(0 0 0px var(--purple)) contrast(1) brightness(1);
    --fz-xxs: .75rem;
    --fz-xs: .8125rem;
    --fz-sm: .875rem;
    --fz-md: 1rem;
    --fz-lg: 1.125rem;
    --fz-xl: 1.25rem;
    --fz-xxl: 1.375rem;
    --fz-heading: 2rem;
    
}
body{
    padding-top: var(--nav-height);
    background: var(--navy);
}
html {
    cursor: url(/src/assets/images/cursor/cursor-glitch-0.png), auto;
    -webkit-animation: cursor 400ms infinite;
    animation: cursor 400ms infinite;
}

a,button:hover,.cursor-pointer{
    cursor: url(/src/assets/images/cursor/hand-cursor-0.png), auto;
    -webkit-animation: hand-cursor 400ms infinite;
    animation: hand-cursor 400ms infinite;
}

  
@-webkit-keyframes cursor {
0% {cursor: url(/src/assets/images/cursor/cursor-glitch-0.png), auto;}
20% {cursor: url(/src/assets/images/cursor/cursor-glitch-1.png), auto;}
40% {cursor: url(/src/assets/images/cursor/cursor-glitch-2.png), auto;}
60% {cursor: url(/src/assets/images/cursor/cursor-glitch-3.png), auto;}
80% {cursor: url(/src/assets/images/cursor/cursor-glitch-4.png), auto;}
100% {cursor: url(/src/assets/images/cursor/cursor-glitch-5.png), auto;}

} 

@keyframes cursor {
    0% {cursor: url(/src/assets/images/cursor/cursor-glitch-0.png), auto;}
    20% {cursor: url(/src/assets/images/cursor/cursor-glitch-1.png), auto;}
    40% {cursor: url(/src/assets/images/cursor/cursor-glitch-2.png), auto;}
    60% {cursor: url(/src/assets/images/cursor/cursor-glitch-3.png), auto;}
    80% {cursor: url(/src/assets/images/cursor/cursor-glitch-4.png), auto;}
    100% {cursor: url(/src/assets/images/cursor/cursor-glitch-5.png), auto;}

}
@-webkit-keyframes hand-cursor {
    0% {cursor: url(/src/assets/images/cursor/hand-cursor-0.png), auto;}
    20% {cursor: url(/src/assets/images/cursor/hand-cursor-1.png), auto;}
    40% {cursor: url(/src/assets/images/cursor/hand-cursor-2.png), auto;}
    60% {cursor: url(/src/assets/images/cursor/hand-cursor-3.png), auto;}
    80% {cursor: url(/src/assets/images/cursor/hand-cursor-4.png), auto;}
    90% {cursor: url(/src/assets/images/cursor/hand-cursor-5.png), auto;}
    100% {cursor: url(/src/assets/images/cursor/hand-cursor-6.png), auto;}

} 

@keyframes hand-cursor {
    0% {cursor: url(/src/assets/images/cursor/hand-cursor-0.png), auto;}
    20% {cursor: url(/src/assets/images/cursor/hand-cursor-1.png), auto;}
    40% {cursor: url(/src/assets/images/cursor/hand-cursor-2.png), auto;}
    60% {cursor: url(/src/assets/images/cursor/hand-cursor-3.png), auto;}
    80% {cursor: url(/src/assets/images/cursor/hand-cursor-4.png), auto;}
    90% {cursor: url(/src/assets/images/cursor/hand-cursor-5.png), auto;}
    100% {cursor: url(/src/assets/images/cursor/hand-cursor-6.png), auto;}


}
// MOBILE FIRST
@mixin devices ($breakpoint) { //the name of the mixin is devices
    @if $breakpoint == phone {
        @media only screen and (min-width: 576px) {
            @content;
        }
    }
    // Tablet or superior
    @if $breakpoint == tablet {    
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
 
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1000px) {
      @content;
    }
  }

}
// https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites
// @media (prefers-reduced-motion: reduce) {
//     *, ::before, ::after {
//       animation-delay: -1ms !important;
//       animation-duration: 1ms !important;
//       animation-iteration-count: 1 !important;
//       background-attachment: initial !important;
//       scroll-behavior: auto !important;
//       transition-duration: 0s !important;
//       transition-delay: 0s !important;
//     }
//   }