#experience{
    padding-top: 10vh;

    @include devices(tablet){
        padding-top: 0vh;
   
        
    }
}
.experience__container-show{
    .experience__show-more{
        position: absolute;
        
        
    }
}
.experience__container{
    width: 100%;
    position: relative;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding-bottom: 1.5rem;
    @include devices(tablet){
        display: block;
        overflow-x:initial;

    }
    .experience__item {
        scroll-snap-align: start;
        /* Used to position the milestone */
        position: relative;
        
        /* Border */
        // border-bottom: 1px solid var(--slate-light);
        
        
        width: calc(100vw - 40px);
        margin-top: 50px;
        border-top: 1px solid var(--slate-light);
        padding-top: 50px;
        @include devices(tablet){
            padding-top: 0px;
            margin-top: 0px;
            border-top: none;
            margin: 0 auto;
            width: 90%;
            padding: 10px;
        }
       .experience__item-content{
            
            width: calc(100vw - 50px);
            padding-left: 5px;
            @include devices(tablet){
                padding-left: inherit;
                width: inherit;
                margin-bottom: 30px;
            }
            h3{
                font-size: var(--fz-xxl);
                margin-bottom: 10px;
                color:var(--slate-light)
            }
            p{
                text-align: left;
                font-size:var(--fz-lg);
                color:var(--slate-gray)
            }
       }
        .experience__milestone {
            /* Absolute position */
            position: absolute;
            @include devices(tablet){

                top: 50%;
            }
           
            /* Circle it */
            border-radius: 50%;
            word-wrap: break-word;
            width: 60px;
            height: 60px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            /* Misc */
            background: var(--slate-light);
        }
     
         /* Styles for even items */
         &:nth-child(2n) {
            // background: red;
            // margin-left: 30px;
            // @include  devices(){

            // }
          
            @include devices(tablet){

                border-bottom: 1px solid var(--slate-light);
            }
            .experience__item-content{
                @include devices(tablet){

                    margin-left: 30px;
                }
                
            }

            @include devices(tablet){

                border-left: 1px solid var(--slate-light);
            }
            .experience__milestone {

                // left: 0;
                top: -30px;
                left: 45%;
                // transform: translate(0%, -50%);
                @include devices(tablet){
                    // top: inherit;
                    top: 50%;
                    left: 0;
                    transform: translate(-50%, -50%);
                }
                box-shadow: 0 0 5px var(--purple),
                0 0 2px var(--purple),
                0 0 2px var(--purple);

                filter: var(--filter-lowest);    
                
                animation: fickign 6s step-end infinite;
            }

            &:last-child{
                border-bottom: none;
                position: relative;
                
                &::before{
                    content: '';
                    position: absolute;
                    bottom: 0%;
                    left:-30px;
                    // transform: translate(-50%, -50%);
                    width: 60px;
                    border-radius: 10px;
                    height:1px;
                    background: var(--slate-light);
                    animation: fickign 2s infinite;
                }
               
               
            }
           

        
            
        }
   
        /* Styles for odd items */
        &:nth-child(2n + 1) {
         
            @include devices(tablet){

                border-right: 1px solid var(--slate-light);
                border-bottom: 1px solid var(--slate-light);
                 .experience__item-content{
                    margin-right: 20px;
                    padding-left: 30px;
                }
                
            }
        
              
            .experience__milestone {

                left: 45%;
                top:-30px;
                @include devices(tablet){
                    left: inherit;
                    top: 50%;
                    right: 0;
                    transform: translate(50%, -50%);
                }
                box-shadow: 0 0 5px var(--purple),
                0 0 2px var(--purple),
                0 0 2px var(--purple);
                // filter: var(--filter-low);
                filter: var(--filter-lowest);    
                animation: fickign 6s step-end infinite;
            }
            &:first-child{
                @include devices(tablet){

                    border-top: none;
                }
                position: relative;

                
                &::before{
                    content: '';
                    position: absolute;
                    height: 60px;
                    width: 1px;
                    left: 0;
                    top: -30px;
                    @include devices(tablet){
                        left: inherit;
                        top: 0%;
                        right:-30px;
                        // transform: translate(-50%, -50%);
                        width: 60px;
                        border-radius: 10px;
                        height:1px;
                 
                    }
                    background: var(--slate-light);
                    
                    box-shadow: 0 0 5px var(--purple),
                    0 0 2px var(--purple),
                    0 0 2px var(--purple);
                    z-index: 2;
                    animation: fickign 6s step-end infinite;
                    filter: var(--filter-lowest); 
                }
            }
           
            &:nth-child(2n +1){
              
                &:last-child{
                    border-bottom: none;
                    position: relative;
                    
                    &::before{
                        content: '';
                        position: absolute;
                        background: var(--slate-light);
                        box-shadow: 0 0 5px var(--purple),
                        0 0 2px var(--purple),
                        0 0 2px var(--purple);
                        animation: fickign 2s infinite;
                        filter: var(--filter-lowest); 
                        width: 1px;
                        height: 60px;
                        top: -30px;
                        right: 0;
                        @include devices(tablet){
                            top: inherit;           
                            bottom: 0%;        
                            right:-30px;
                            width: 60px;
                            border-radius: 10px;
                            height:1px;
                        }
                    }
                }
               
            }
        }
       
        
    }
    

}

@keyframes fickign {
 
    0%{
        box-shadow: 0 0 5px var(--purple),
                0 0 2px var(--purple),
                0 0 2px var(--purple);
        // filter: drop-shadow(0 0 4px var(--purple)) drop-shadow(0 0 15px var(--purple)) contrast(2) brightness(2);       
    }
  
    5%{
        box-shadow: 0 0 0px var(--purple),
        0 0 0px var(--purple),
        0 0 0px var(--purple);
        // filter: var(--filter-lowest);      

    }
    35%{
        box-shadow: 0 0 5px var(--purple),
        0 0 2px var(--purple),
        0 0 2px var(--purple);


    }
    45%{
        box-shadow: 0 0 5px var(--purple),
        0 0 2px var(--purple),
        0 0 2px var(--purple);
    }
    76%{
        box-shadow: 0 0 0px var(--purple),
        0 0 0px var(--purple),
        0 0 0px var(--purple);
    }
    90%{
        box-shadow: 0 0 5px var(--purple),
        0 0 2px var(--purple),
        0 0 2px var(--purple);
    }
    1%,
    7%,
    33%,
    47%,
    78%,
    93%{
        box-shadow: 0 0 0px var(--purple),
        0 0 0px var(--purple),
        0 0 0px var(--purple);
    }
}



