#home{
    @include devices(tablet){
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
    .home__glitch{
        
        color:var(--slate-light);
        font-size: clamp(30px, 8vw, 70px);
        letter-spacing: 2px;
        // overflow: hidden;
        // FIXME: separar front-end en nuevo tag
        // para evitar el break word
        word-wrap: break-word;
        @media screen and (max-width:375px) {
        }
        
    
    }
    .home__intro{
        word-wrap: break-word;
        font-size: var(--fz-xl); 
        margin-top: 30px;
        color:var(--slate-gray);
        
        p{
            max-width: 530px;
        }
    }
}