i.icon-svg{
    background: url("../../icons/css.svg") no-repeat; 
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}

i.icon-html{
    background: url("../../icons/html.svg") no-repeat; 
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}
i.icon-javascript{
    background: url("../../icons/javascript.svg") no-repeat; 
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}
i.icon-react{
    background: url("../../icons/react.svg") no-repeat; 
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}
i.icon-sass{
    background: url("../../icons/sass.svg") no-repeat; 
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}
i.icon-typescript{
    background: url("../../icons/typescript.svg") no-repeat; 
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}
i.icon-vue{
    background: url("../../icons/vue.svg") no-repeat; 
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}