
.header{
    z-index: 100;
    width: 100%;;
    height: var(--nav-height);
    position: fixed;
    padding: 0px 13px 0px 13px;
    top: 0;
    left: 0;
    // background: rgba(10, 25, 47, .85);
    background: rgba(14, 10, 47, .85);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    transition: transform  0.2s,box-shadow 0.3s,padding 0.1s;
}
.nav{
 
    nav{
        display: none;
        visibility: hidden;
        @media screen and (min-width:768px) {
            visibility: visible;
            display:  block;
        }
    }

}
.nav__link{
    color:var(--slate-light);
    text-decoration: none;
    margin: 0 1rem;
    padding: 5px;
   font-size:var(--fz-sm);
    &::before{
        color:var(--slate-light);
        content: "<";
        transition: color .3s ease-in-out;

    }
    &::after{
        color:var(--slate-light);
        content: " />";
        transition: color .3s ease-in-out;
    }
    &:hover{
        &::before{
            color:var(--purple);
            text-shadow:var(--text-shadow);
            filter: var(--filter-smooth);
        }
   
        &::after{
            color:var(--purple);
            text-shadow:var(--text-shadow);
            filter: var(--filter-smooth);
        }
    
    }
}
.nav--hidden-shadow{
    box-shadow: none;
    padding-top: 7px;
}
.nav--hidden{
    
    // Transform to negative number
    transform: translateY(calc(-1 * var(--nav-height)));
    box-shadow: none;
}
.nav--shadow{
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.577); 
}